.topics_of_interest {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
.topics_of_interest thead tr {
background-color: #009879;
color: #ffffff;
text-align: left;
}
.topics_of_interest th,
.topics_of_interest td {
    padding: 12px 15px;
}
.topics_of_interest tbody tr {
border-bottom: 1px solid #dddddd;
}

.topics_of_interest tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.topics_of_interest tbody tr:last-of-type {
border-bottom: 2px solid #009879;
}