{% load static %}

<div class="container">

    <div class="row">
      <div class="col-lg-6">
        <img src="{% static 'images/canva_galaxy_view_aigen.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <h3>About This website</h3>
        <p>
          This is a website where I display my skills, resume and portfolio to those interested.
          If you are curious to learn more, feel free to reach out. As an expereinced professional I
        </p>
        <ul>
          <li><i class="bx bx-check-double"></i> Guarantee Results </li>
          <li><i class="bx bx-check-double"></i> Am unbiased towards data</li>
          <li> and </li>
          <li><i class="bx bx-check-double"></i> provide quality tools and insights not often understood by other individuals.
        </ul>
        <h3>Some little facts about me are: </h3>
        <div class="row icon-boxes">
          <div class="col-md-6">
            <i class="bx bx-receipt"></i>
            <h4>Unique Background</h4>
            <p>My background in physics, EE and data analytics allows me to showcase my skills in ways others can't.</p>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <i class="bi bi-book"></i>
            <h4>Education</h4>
            <p>I currently hold a Bachelors and a Masters in Physics. The former being from <a href="https://www.ucr.edu/" rel="noreferrer nofollow noopener" target="_blank">UCR</a> and latter from <a href="https://www.fullerton.edu/" rel="noreferrer nofollow noopener" target="_blank">CSUF</a>.</p>
          </div>
        </div>
      </div>
    </div>

  </div>