
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-6">
      <div class="count-box">
        <i class="bi bi-trophy"></i>
        <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
        <p>Years Experience as a Data Analyst</p>
      </div>
    </div>
    <div class="col-lg-3 col-6">
      <div class="count-box">
        <i class="bi bi-journal-richtext"></i>
        <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
        <p>Decade of Data Analytics Experience</p>
      </div>
    </div>
    <div class="col-lg-3 col-6 mt-5 mt-lg-0">
      <div class="count-box">
        <i class="bi bi-mortarboard-fill"></i>
        <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
        <p>Degrees</p>
      </div>
    </div>
    <div class="col-lg-3 col-6 mt-5 mt-lg-0">
      <div class="count-box">
        <i class="bi bi-journal-richtext"></i>
        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
        <p>Over a dozen projects</p>
      </div>
    </div>
  </div>
</div>