<div class="container">

    <div class="section-title">
      <h2>Experience</h2>
      <p>Here are some of my experience as a data analyst and software developer</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box">
          <i class="bi bi-github"></i>
          <h4><a href="https://github.com/Dominic-Ta/resume_portfolio"
            rel="noreferrer nofollow noopener">Software Developer (Free lance)</a></h4>
            <p>
              <b> Greatest Accomplishment</b>: Saving upwards of 10000% of designated budget by recreating cloud services, locally.
            </p>
            <ul>
              <li>Developed a highly scalable website using Python Django and integrated multiple databases from Kaggle and other sources</li>
              <li>Utilized data tables (Chartjs) and Google APIs to display the data on the website and implemented mapping features using Google APIs for geographical representation.</li>
              <li>Optimized SEO for backend data wrangling, resulting in improvements of upwards to 300%.</li>
              <li>Recreated AWS Services such as AWS Lambda and SES through backend technology, saving upwards of over 10000% of current budget.</li>
            </ul>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="bi bi-card-checklist"></i>
          <h4><a > ICQA Program Developer (Full stack) - ONT8</a></h4>
          <p>
            <b> Greatest Accomplishment</b>: Creating and maintaining asset tracking for 600+ warehouses. 
          </p>
          <ul>
            <li>
              Managed asset tracking for 600+ Amazon network warehouses, using Ruby on Rails for a user-friendly platform.            </li>
            <li>
              Led Agile team to develop user ticketing software, ensuring Amazon's quality standards.             </li>
            <li>
              Utilized Agile methodologies to create user ticketing software to ensure
              the quality of the website met the standards of Amazon.
            </li>
            <li>
              Launched Code Zero, Amazon's IXD warehouse data source, cutting local ICQA Data Analysts' development time by 75% using Tableau/Quicksite. 
            </li>
            <li>
              Introduced "Global Toolbox" with 200+ tools, saving warehouse associates 70-100% development time.            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-bar-chart"></i>
          <h4><a>ICQA Data Analyst - LAX9</a></h4>
          <p><b> Greatest Accomplishment</b>: Reducing injuries by 25% and saving amazon millions.</p>
          <ul>
            <li>
              Developed a daily tool that summarized safety 
              reports, incorporating YS observations and PIT LSI 
              data. Ultimately leading to a 25% reduction in 
              injuries and saving Amazon approximately 9 million 
              USD over a 10-month period per warehouse implemented.
            </li>
            <li>
              Engineered a Python automation tool for real-time 
              updates on the status of Trailer Doors, significantly 
              reducing dwell time by 600%.
            </li>
            <li>
              Analyzed Safety Near misses and Injury reports, 
              identifying actionable correlations for targeted 
              preventative measures.
            </li>
            <li>
              Implemented a comprehensive database for 
              annual hearing reports, ensuring consistent 
              compliance with OSHA standards and meeting 
              annual quotas.
            </li>
            <li>
              Managed the cha2main safety report website, 
              a critical auditing tool used by leadership 
              for safety assessments across the West Coast 
              and Central US, accounting for more than 70% of 
              audits across Amazon.
            </li>
            <li>
              Collaborated with the PETS team, 
              business analysts, and software developers 
              to enhance associate training violation 
              tracking using Python and pyalchemly (mySQL), 
              effectively promoting safety and minimizing 
              injuries.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-bar-chart"></i>
          <h4><a>ICQA Data Analyst - ONT8</a></h4>
          <p><b> Greatest Accomplishment</b>: Fixed and improved
            much of the code for the daily shift schedule, 
            ensuring thousands of associates were scheduled correctly 
            and on time.
          </p>
          <ul>
            <li>Optimized the Shift comparison report, aligning weekly and daily headcounts for streamlined warehouse operations.</li>
            <li>Utilized SQL on a daily basis to ensure SOX compliance, ensuring adherence to legal standards and regulations.</li>
            <li>Maintained the Pre-Launch alignment checklist, ensuring rigorous standards were met before the launch of new warehouses.</li>
            <li>Spearheaded the implementation of Python-based VRID programs within KRIV (Amazon Air), optimizing the management of items destined for IXDs.</li>
            <li>Introduced Python-based authentication tools to the dojo team, yielding an impressive 85-90% reduction in query runtime for tasks like AA hours/shift schedules and daily carton counts.</li>
            <li>Oversaw West Coast's IXD info-metric data, ensuring accuracy and accessibility.</li>
            <li>Managed the daily shift schedule planner for the West Coast, facilitating efficient headcount planning and resource allocation per department.</li>
        </ul>
        
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-bar-chart"></i>
          <h4><a>Data Analyst - TJ Loans</a></h4>
          <p><b> Greatest Accomplishment</b>:  Optimizing profit margins by 20%</p>
          <ul>
            <li>Strategically optimized profit margins by up to 20% through thorough market trend analysis in Jewelry and other trade goods.</li>
            <li>Orchestrated training sessions and provided leadership in RFM analysis, fostering exponential client growth via strong interpersonal relationships.</li>
            <li>Maintained a meticulous database of item pricing and current stock, leading to a remarkable 15% reduction in customer wait time.</li>
            <li>Executed rigorous quality audits to ensure unwavering compliance with laws and regulations pertinent to pawnbrokers.</li>
            <li>Employed SQL for meticulous indexing of item data, contributing to enhanced operational efficiency.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-mortarboard-fill"></i>
          <h4><a>Graduate Teaching Assistant</a></h4>
          <p><b> Greatest Accomplishment</b>: Furthered the field in research of the thermopower properties of Graphene</p>
          <ul>
            <li>Conducted in-depth investigations into the thermoelectric properties of both doped and non-doped Graphene, employing diverse parameter analyses. (Thesis)</li>
            <li>Crafted comprehensive lesson plans for 200-300 students, closely aligned with established course outlines in classical and electromagnetic physics. Effectively communicated complex concepts with a focus on practical applications in mechanical and electrical engineering.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 mt-4">
        <div class="icon-box">
          <i class="bi bi-mortarboard-fill"></i>
          <h4><a>Research Scientist - Semiconductor Research Corporation</a></h4>
          <p><b> Greatest Accomplishment</b>: Furthered the field in research of the thermopower properties of MoS<sub>2</sub></p>
          <ul>
            <li>Collaborated on impactful WS2, TS2, and MoS2 growth studies, contributing to publications and presentations.</li>
            <li>Oversaw, trained, and optimized lab personnel, fostering effective training methodologies.</li>
            <li>Utilized Python for Raman and Photoluminescent Spectroscopy data modeling, saving 90% reserved time.</li>
            <li>Applied machine vision for 450% improved spectroscopic data analysis.</li>
        </ul>
        
        
        </div>
      </div>
    </div>

  </div>