{% load static %}
<div class="pb-5 mt-5 bg-gradient rounded" style="background: #060505;  box-shadow:0 0 60px 30px #DB1C1C,0 0 100px 60px #791515, 0 0 140px 90px #441818; ">
    {% comment %} <div class="row h-25 p-3 d-sm-inline">
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <h2 class="mb-2 text-warning text-center">Starwars Dashboard</h2>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <p> 
                                <a style="color: #FFFF82;"  href="https://theurbanwriters.com/blogs/publishing/star-wars-books-guide" target="_blank" ref="noreferrer nofollow noopener">
                                    Over 
                                    <b style='color:rgb(240, 252, 112) !important;'>381</b> novels! 
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                    <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <style>svg{fill:#ffffff}</style>
                                    <path d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
                                </svg>
                            </p>
                            <p><b style='color:rgb(240, 252, 112) !important;'>15</b> Movies</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <p>CAT3</p>
                        </div>
                        <div class="row">
                            <p>CAT4</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <p>Hello world this is a test</p>
                <table class="container-sm vh-25 table table-bordered table-responsive-sm text-warning" style="overflow-y: scroll;">
                    <tr>
                        <th> Movie </th>
                        <th> production Budget ($)</th>
                        <th> Opening Profit ($)</th>
                        <th> Domestic Box Office ($)</th>
                        <th> World Wide Box Office ($)</th>
                    </tr> 
                    <tr>
                        <td>Star Wars Ep. I: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. II: The Clone Wars</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. III: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. IV: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. V: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. VI: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. VII: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. VIII: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                    <tr>
                        <td>Star Wars Ep. VIX: The Phantom Menace</td>
                        <td>$115,000,000</td>
                        <td>$64,810,970</td>
                        <td>$474,544,677</td>
                        <td>$1,027,044,677</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="row">
                    <h2 class="mb-2 text-warning text-center">Starwars Dashboard</h2>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="row">
                            <p> 
                                <a style="color: #FFFF82;"  href="https://theurbanwriters.com/blogs/publishing/star-wars-books-guide" target="_blank" ref="noreferrer nofollow noopener">
                                    Over 
                                    <b style='color:rgb(240, 252, 112) !important;'>381</b> novels! 
                                </a>
                                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
                                    <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <style>svg{fill:#ffffff}</style>
                                    <path d="M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
                                </svg>
                            </p>
                            <p><b style='color:rgb(240, 252, 112) !important;'>15</b> Movies</p>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row">
                            <p>CAT3</p>
                        </div>
                        <div class="row">
                            <p>CAT4</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7">
                <p>Hello world this is a test</p>
                <div class="container-sm overflow-scroll  h-25">
                    <table class="table table-bordered table-responsive-sm text-warning" style="overflow-y: scroll;">
                        <tr>
                            <th> Movie </th>
                            <th> production Budget ($)</th>
                            <th> Opening Profit ($)</th>
                            <th> Domestic Box Office ($)</th>
                            <th> World Wide Box Office ($)</th>
                        </tr> 
                        <tr>
                            <td>Star Wars Ep. I: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. II: The Clone Wars</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. III: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. IV: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. V: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. VI: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. VII: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. VIII: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                        <tr>
                            <td>Star Wars Ep. VIX: The Phantom Menace</td>
                            <td>$115,000,000</td>
                            <td>$64,810,970</td>
                            <td>$474,544,677</td>
                            <td>$1,027,044,677</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="mb-8">
            <h2 class="mb-2 text-warning text-center">dsfgsdfg</h2>
            <h5 class="text-700 text-warning fw-semi-bold">dsfgdsf</h5>
          </div>         
        <div class="mb-8">
            <h2 class="mb-2 text-warning text-center">Starwars Dashboard</h2>
            <h5 class="text-700 text-warning fw-semi-bold">Here’s some cool info on starwars.</h5>
        </div>
    </div> {% endcomment %}
    <div class="row h-25 p-3 d-sm-inline">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Starwars Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Starwars Dashboard</li>
            </ol>
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">
                            Over 
                            <b style='color:rgb(240, 252, 112) !important;'>381</b> novels! 
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white text-center stretched-link" style="color: #FFFF82;"  href="https://theurbanwriters.com/blogs/publishing/star-wars-books-guide" target="_blank" ref="noreferrer nofollow noopener">
                                <i class="bi bi-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body"> 
                            <p>
                                <b style='color:rgb(240, 252, 112) !important;'>
                                    15
                                </b> 
                                Movies
                            </p>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white text-center stretched-link" style="color: #FFFF82;"  href="https://en.wikipedia.org/wiki/List_of_Star_Wars_films" target="_blank" ref="noreferrer nofollow noopener">
                                <i class="bi bi-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Gross Profit of the 12 Main Movies $10,324,504,714</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white text-center stretched-link" style="color: #FFFF82;"  href="https://www.boxofficemojo.com/franchise/fr3125251845/" target="_blank" ref="noreferrer nofollow noopener">
                                <i class="bi bi-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">9+ TV shows</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white text-center stretched-link" style="color: #FFFF82;"  href="https://en.wikipedia.org/wiki/List_of_Star_Wars_television_series" target="_blank" ref="noreferrer nofollow noopener">
                                <i class="bi bi-link"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4 text-warning">
                        <div class="card-header">
                                <i class="bi bi-graph-up"></i>
                                Theaters Showing Each Film
                            </div>
                        <div class="card-body">
                            <canvas id="bar-chart" width="800" height="450"></canvas>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4 text-warning">
                        <div class="card-header">
                            <i class="bi bi-graph-up"></i>
                            Profit Per Film.
                        </div>
                        <div class="card-body">
                            <canvas id="star-chart" width="800" height="450"></canvas>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4 text-warning">
                <div class="card-header">
                    <i class="bi bi-table"></i>
                    DataTable Example
                </div>
                <div class="card-body">
                    <p class="text-dark"> Data taken from 
                        <a href="https://www.the-numbers.com/movies/franchise/Star-Wars#tab=summary" class="small text-whitdarke text-center" target="_blank" ref="noreferrer nofollow noopener">
                            here
                        </a>.
                    </p>
                    <div class="container-sm overflow-scroll">
                        {% include '_starwars_budget_profit.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
