{% load static %}
<div class="pb-5 mt-5 bg-gradient rounded" style="background: #060505;  box-shadow:0 0 60px 30px #DB1C1C,0 0 100px 60px #791515, 0 0 140px 90px #441818; ">
    <div class="row h-25 p-3 d-sm-inline">
        <div class="container-fluid px-4">
            <h1 class="mt-4">Starwars Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Starwars Dashboard</li>
            </ol>
            {% comment %}
            For easier viewing/reading, I broke this up into it's fundamental parts and categories. It's a bit of a headache
            to get used to otherwise.
            {% endcomment %}
            {% include '_cards_starwars.html' %}
            {% include '_starwars_data_charts_row_1.html' %}
            {% include '_starwars_data_charts_row_2.html' %}
            {% include '_starwars_table.html' %}
            {% include '_character_search.html' with starwars_characters=starwars_characters %}
        </div>
    </div>
</div>
